@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #fffdfa;
}
@media screen and (min-width: 992px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
}

.content-wrapper {
  position: relative;
  padding: 1.75rem 1rem 5rem;
  max-width: 1110px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .content-wrapper {
    padding: 0;
    margin: 0 auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-wrapper {
  position: absolute;
  width: 16rem;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fffdfa;
  transform: translateX(16rem);
}
@media screen and (min-width: 768px) {
  .nav-wrapper {
    position: relative;
    width: auto;
    height: auto;
    transition: none;
    transform: translateX(0);
  }
}
.nav-wrapper.show {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.nav-items-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 15.1875rem;
  margin-top: 9rem;
  margin-left: 1.5rem;
  font-size: 1.125rem;
  color: #00001a;
}
.nav-items-wrapper a {
  color: #00001a;
}
@media screen and (min-width: 768px) {
  .nav-items-wrapper {
    position: relative;
    flex-direction: row;
    font-size: 0.9375rem;
    width: auto;
    margin: 0;
    gap: 2.5rem;
  }
  .nav-items-wrapper a:hover {
    color: #f15d51;
  }
}

.site-logo {
  width: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .site-logo {
    width: 4.0625rem;
  }
}

.menu-hamburger {
  width: 40px;
  height: 17px;
}
@media screen and (min-width: 768px) {
  .menu-hamburger {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 1.75rem;
  right: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.headline-article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.headline-article-image img {
  width: 100%;
}
.headline-article-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  color: #00001a;
  margin: 1.5rem 0 1rem;
}
@media screen and (min-width: 992px) {
  .headline-article-title {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
    flex: 2;
  }
}
.headline-article-description {
  color: #5e607a;
  line-height: 26px;
  margin-bottom: 1.5rem;
}
.headline-article-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2734375rem;
  color: #fffdfa;
  background-color: #f15d51;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .headline-article-link {
    margin-bottom: 0;
    box-shadow: none;
  }
  .headline-article-link:hover {
    background-color: #00001a;
  }
}
@media screen and (min-width: 992px) {
  .headline-article-content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}
.headline-article .headline-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (min-width: 992px) {
  .headline-article .headline-description-wrapper {
    flex: 2;
  }
}
@media screen and (min-width: 992px) {
  .headline-article {
    flex: 7;
    justify-content: space-between;
  }
}

.new-articles {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.25rem;
  margin: 0 0 4rem 0;
  background-color: #00001a;
}
@media screen and (min-width: 992px) {
  .new-articles {
    flex: 3;
    margin: 0;
  }
}
.new-articles-title {
  color: #e9aa52;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.1875rem;
}
.new-articles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.new-articles li {
  padding: 2rem 0;
}
.new-articles li:first-of-type {
  padding-top: 0;
}
.new-articles li:last-of-type {
  padding-bottom: 0;
}
.new-articles li:not(:last-child) {
  border-bottom: 1px solid rgba(94, 96, 122, 0.75);
}
.new-articles h3 {
  font-size: 1.25rem;
  color: #fffdfa;
}
.new-articles h3:hover {
  color: #e9aa52;
}
.new-articles p {
  margin-top: 0.5rem;
  color: #c5c6ce;
  line-height: 1.625rem;
}
.new-articles li:last-of-type p {
  margin-bottom: 0;
}

.popular-articles ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 992px) {
  .popular-articles ul {
    flex-direction: row;
  }
}
.popular-articles li {
  display: flex;
  gap: 1.5rem;
}
@media screen and (min-width: 992px) {
  .popular-articles li {
    flex: 1;
  }
}
.popular-articles-image {
  flex: 1;
}
.popular-articles-image img {
  width: 100%;
}
.popular-articles-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.popular-articles-content h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #c5c6ce;
}
.popular-articles-content h3 {
  font-size: 1.125rem;
  font-weight: 800;
  color: #00001a;
  padding: 0.5rem 0;
}
.popular-articles-content h3:hover {
  color: #f15d51;
}
.popular-articles-content p {
  margin-top: 0.5rem;
  color: #5e607a;
  line-height: 1.625rem;
}

@media screen and (min-width: 992px) {
  .large-screen-wrapper {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 4.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
