// default font size

$baseFontSize: 16px;

// colours
$color-almost-white: #fffdfa;
$color-dark-space-blue: #00001a;
$color-gunmetal: #5e607a;
$color-light-vermillion: #f15d51;
$color-yellow: #e9aa52;
$color-silver: #c5c6ce;
$color-dolphin: #5e607a;

// base
$backgroundColor: $color-almost-white;

// nav slide in
$slideInBgColor: $color-almost-white;
$slideInFontColor: $color-dark-space-blue;

// headline article
$headlineArticleDescriptionFontColor: $color-gunmetal;
$headlineArticleTitleFontColor: $color-dark-space-blue;
$headlineArticleLinkBgColor: $color-light-vermillion;
$headlineArticleLinkFontColor: $color-almost-white;

// new articles
$newArticlesBgColor: $color-dark-space-blue;
$newArticlesTitleColor: $color-yellow;
$newArticleTitleFontColor: $color-almost-white;
$newArticleFontColor: $color-silver;
$newArticleBottomBorderColor: $color-dolphin;

// popular articles

$popularArticlesHeadingColor: $color-silver;
$popularArticleTitleFontColor: $color-dark-space-blue;
$popularArticlesFontColor: $color-gunmetal;

// breakpoints for media queries

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// max width for the entire app

$max-width: 1400px;
