// create media query, uses $breakpoints map as lookup for screen width.

@mixin breakpoint($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    $width: map-get($breakpoints, $bp);

    @media screen and (min-width: $width) {
      @content;
    }
  } @else {
    @error "Breakpoint value #{$bp} is not valid";
  }
}

// reset ul list style and margin

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
