main {
  display: flex;
  flex-direction: column;
}

.headline-article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-image img {
    width: 100%;
  }

  &-title {
    font-size: pxToRem(40px);
    font-weight: 800;
    line-height: pxToRem(40px);
    color: $headlineArticleTitleFontColor;
    margin: 1.5rem 0 1rem;
  }

  &-description {
    color: var(--Gunmetal, #5e607a);
    line-height: 26px;
    margin-bottom: 1.5rem;
  }

  &-link {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: pxToRem(4.375px);
    color: $headlineArticleLinkFontColor;
    background-color: $headlineArticleLinkBgColor;
    padding: 1rem 2rem;
    text-transform: uppercase;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 4rem;
  }
}

.new-articles {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.25rem;
  margin: 0 0 4rem 0;
  background-color: $newArticlesBgColor;

  &-title {
    color: $newArticlesTitleColor;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: pxToRem(35px);
  }

  ul {
    @include reset-list;
  }

  li {
    padding: 2rem 0;
  }

  li:last-of-type {
    padding-bottom: 0;
  }

  li:first-of-type {
    padding-top: 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba($newArticleBottomBorderColor, 0.75);
  }

  h3 {
    font-size: 1.25rem;
    color: $newArticleTitleFontColor;
  }

  p {
    margin-top: 0.5rem;
    color: $newArticleFontColor;
    line-height: pxToRem(26px);
  }

  li:last-of-type p {
    margin-bottom: 0;
  }
}
